/* Stylesheet for the Selva default look and feel */
/* Credits 
	Software development:  the .LRN development community (www.dotlrn.org)
	Release Management: 
	Visual Design:  Dorian Peters
end Credits */


/* STANDARD TAGS */
/* standard html (body, h1, p, form...) */

@import url(../Selva-core.css);

	
/* H
/* contains: logo and tagline (which is a background image) */	

/* if you want a different image  for this sub-theme color uncomment this and add your image in the images folder
#header {
	background: #F2F1CB url(images/image.png) no-repeat top left; }
*/


/* PORTAL */
/* contains: all portlets, main navigation, sub navigation etc. */
	
	
	
	#portal-navigation li.active {
	background: #999999 url(images/tabActive_right.gif) no-repeat top right;
	}
	
	#portal-navigation li.active a {
	background: url(images/tabActive_left.gif) no-repeat top left;}


#portal-subnavigation {
	width: 99%;
	background: #4b83a8 url(images/subnav_bg.gif) repeat-x bottom;
	color: #F2F1CB;
	padding: 0px 0px 4px 0px;
	font-weight:bold; }
	
	#portal-subnavigation-links {
	background: #4b83a8 url(images/subnav_corner.gif) no-repeat top right;
	 padding: 2px 0px 0px 0px;}
	
	#portal-subnavigation-links li a:link,
	#portal-subnavigation-links li a:visited {
        color: #ffffff;
        }

	#portal-subnavigation-links li a:hover {
        color: #000000;
        }

	#portal-subnavigation-links li.active a:link,
	#portal-subnavigation-links li.active a:visited {
        color: #000000;
        }
			
	
	
/* PORTLETS */
/* contains: all general portlet styles like title, frame, font etc. */
/* Note: additional styles for specific packages (ie. calendar, survey) 
are located in the css for that package (eg. Selva_calendar.css)  */

	
.portlet-title, .portlet-title {
	position:relative;
	left:0px;
	top:0px;
	background: #4B83A8 url(images/portlet_titleCorner.gif) no-repeat top right;
	text-align:left;
	padding: 4px 15px 3px 6px; 
	margin-right:30% !important;
		margin-right:8%;
	margin-left:12px;
	margin-bottom:-1px !important;
		margin-bottom:0px;
	font-weight:bold;}
	
.portlet-title span, .portlet-title-no-controls span {
	color: #FFFFFF;
	font-size: 120%;
	padding-left:20px;
	padding-right: 30px;
	display:inline;}
	
.portlet-title img, .portlet-title-no-controls img {
	padding: 0 5px 0 5px;
	text-align:right;}
	
	
